<!DOCTYPE html>
<html>
  <head>
    <title>P0721</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Head -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

    <!-- Bootstap CDN -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>

    <!-- NavBar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Profolio</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/intro">Profolio소개</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">포트폴리오
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/pass">합격 포트폴리오 공유</a></li>
              <li><a href="/posts">포트폴리오 게시판</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">포트폴리오 작성 가이드
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/guide1">포트폴리오란?</a></li>
              <li><a href="/guide2">포트폴리오 가이드</a></li>
            </ul>
          </li>
          <li><a href="/mentor">전문가 인터넷 상담</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> <%=current_user.email%>
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/my_posts">내 포트폴리오 관리</a></li>
                <li><a href="/my_info">내 정보</a></li>
              </ul>
            </li>
            <li><a href="/users/sign_out"><span class="glyphicon glyphicon-log-in"></span> 로그아웃</a></li>
          <% else %>
            <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> 회원가입</a></li>
            <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <div class="container" style="height:50px">

    </div>

  </body>
</html>
